span.postTag {
  display: inline;
  font-family: 'Quicksand';
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.2em 0.6em;
  border-radius: 0.25em;
  background: rgbA(40, 40, 40, 1.00);
  letter-spacing: 0.1em;
  box-shadow: 0 0 1em rgbA(0, 0, 0, 1.00),
              0 0 1em rgbA(0, 0, 0, 1.00);
  margin-bottom: 2px;
}

span.postTag:hover {
  cursor: pointer;
  border-bottom: 2px solid lime;
  margin-bottom: 0px;
}
