@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Quicksand:300,400,500,600,700|Rubik:300,400,500,700&display=swap');

div.header {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.header a.title {
  display: inline-block;
  width: 17rem;
  margin-right: 1rem;
  text-align: center;
  text-decoration: none;
  font-family: 'Bebas Neue';
  font-size: 2em;
  letter-spacing: 0.2em;
  color: white;
}
div.header a.title:before { content: '<'; margin-right: 0.1em !important; }
div.header a.title:after { content: '>'; margin-left: 0.1em !important; }
div.header a.title:hover:before { color: lime; }
div.header a.title:hover:after { color: lime; }

div.header .signOut {
  margin-left: 2rem;
}

div.header .markOptions {
  /* outline: 2px solid white; */
  flex-grow: 1;
}

div.header .markOption {
  font-family: 'Bebas Neue';
  font-size: 1.5em;
  letter-spacing: 0.1em;
  user-select: none;
  color: skyblue;
}
div.header .markOption.selected {
  color: white;
  border-bottom: 0.1em solid white;
}

div.header a.markOption {
  color: lime;
}

div.header .markOption:hover {
  border-bottom: 0.1em solid white;
}

div.header span.markOption:hover {
  cursor: pointer;
  color: white;
}

div.header .markOptions a:before,
div.header .signOut:after {

}
div.header .signOut:after {
  text-align: right;
}
/* div.header .popularMarks:before { content: '🔥'; }
div.header .recentMarks:before { content: '⏱️'; }
div.header .myMarks:before { content: '🧍'; }
div.header .newMark:before { content: '✏️'; } */
div.header .signOut:before { content: '❌'; }
